sudo: required
language: android
jdk: oraclejdk8
before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
env:
  global:
  - ANDROID_API_LEVEL=27
  - EMULATOR_API_LEVEL=23
  - ANDROID_BUILD_TOOLS_VERSION=27.0.3
  - ANDROID_ABI=google_apis/armeabi-v7a
  - ADB_INSTALL_TIMEOUT=20
android:
  components:
  - build-tools-$ANDROID_BUILD_TOOLS_VERSION
  - android-$ANDROID_API_LEVEL
  - addon-google_apis-google-$ANDROID_API_LEVEL
script:
- "./gradlew clean"
- "./gradlew build test"
before_install:
#- openssl aes-256-cbc -K $encrypted_ab09f80ebc8e_key -iv $encrypted_ab09f80ebc8e_iv
  #-in keystore.properties.enc -out keystore.properties -d
- mkdir "$ANDROID_HOME/licenses" || true
- echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
- echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
- chmod +x gradlew
