@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,500');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background: rgba(234, 92, 65, 0.7);
  color: #fff;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #EA5C41;
}

#top {
  user-select: none;
}

#logo {
  max-width: 440px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

#logo img {
  width: 300px;
  margin: 0 auto;
}

#logo p {
  margin-top: 20px;
  line-height: 26px;
  font-size: 18px;
}

header ul {
  display: inline-block;
  text-align: initial;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
}

header ul li {
  margin: 0 12px;
  float: left;
  font-size: 16px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  display: inline-block;
}

header ul li:first-child a, header ul li a:hover {
  border-bottom: 2px solid #fff;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0 10px;
}

.content-wrapper p {
  font-size: 16px;
  line-height: 26px;
  max-width: 780px;
  margin: 0 auto .83rem;
  padding: 0 10px;
}

.divider {
  width: 100%;
  height: 3px;
  background: #f5f5f5;
  margin: .83em;
  float: left;
  clear: both;
}

.intro {
  padding: 70px 0 90px 0;
  overflow: hidden;
}

.intro h3 {
  margin-top: 0;
}

.goal-block {
  width: 100%;
  float: left;
  padding: 10px 15px;
  overflow: auto;
}

.goal-block p:first-child {
  margin-top: 10px;
}

.quote {
  width: 100%;
  background: url(/roastd/assets/img/quote-background.jpg) no-repeat center center fixed;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 70px 0 90px 0;
}

.quote h2 {
  color: #fff;
  margin-bottom: 40px;
}

.quote ul {
  list-style: none;
  margin: 0;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
}

.list-box {
  padding: 30px;
  width: 98%;
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  border-bottom: 3px solid #EA5C41;
}

.video-wrapper {
  clear: both;
  max-width: 740px;
  margin: 0 auto;
  padding-top: 20px;
}

.video {
  clear: both;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.video iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.features-block {
  clear: both;
  padding-top: 15px;
}

.quote ul li {
  font-size: 16px;
  padding: 9px 0;
}

.quote p {
  color: #fff;
  max-width: 960px;
  font-size: 24px;
  margin: 0 auto;
  line-height: 34px;
}

p.circled-number {
  font-size: 28px;
  color: #EA5C41;
  margin: .83em 0;
  padding: 10px 15px;
  border: 3px solid #EA5C41;
  border-radius: 70px;
  display: inline-block;
}

.deliverables .goal-block a {
  font-size: 15px;
  color: #EA5C41;
  text-decoration: none;
}

.deliverables .goal-block a:hover {
  text-decoration: underline;
}

.deliverables p.circled-number {
  padding-left: 12px;
  padding-right: 12px;
}

.deliverables p.circled-number.extra {
  padding: 10px 14px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 650px;
  background: url(/roastd/assets/img/roastd-background.jpg) no-repeat center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: url(/roastd/assets/img/team-background.jpg) no-repeat center center fixed;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.team .content-wrapper {
  padding: 70px 0 90px 0;
}

.team .content-wrapper h2 {
  color: #fff;
  margin-bottom: 70px;
}

.team-row {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 30px;
  overflow: auto;
}

.team-card img {
  width: 100px;
  border-radius: 100px;
  margin: 6px auto;
}

.team-card a {
  color: #EA5C41;
  font-size: 24px;
}

.team-card .img-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 125px;
  border: 4px solid #EA5C41;
  margin: 0 auto;
}

.team-row .team-card {
  width: calc(100% - 30px);
  background: #fff;
  min-height: 640px;
  float: left;
  padding: 30px;
  margin: 0 15px;
}

.team-row .team-card:last-child {
  margin-top: 30px;
}

.team-row:last-child {
  margin-top: -30px;
}

footer {
  width: 100%;
  padding: 35px 0 45px;
  background: #fff;
  text-align: center;
}

footer a {
  color: #EA5C41;
  text-decoration: none;
}

@media screen and (min-width: 50em) {
  .content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .team-row .team-card {
    width: calc(50% - 30px);
    margin-bottom: 0;
  }

  .team-row .team-card:first-child {
    margin-right: 15px;
  }

  .team-row .team-card:last-child {
    margin-top: 0;
    margin-left: 15px;
  }

  .team-row:last-child .team-card {
    margin: 0 auto;
    float: none;
  }

  .team-row:last-child {
    margin-top: 30px;
  }
}

@media screen and (min-width: 700px) {
  .goal-block {
    width: 33%;
  }

  .deliverables .goal-block {
    width: 100%;
  }
}

@media screen and (min-width: 938px) {
  .deliverables .goal-block {
    width: 25%;
  }
}
