<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
    <title>Roastd</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>

  <body>
    <header id="top">
      <div id="logo">
          <img src="{{ '/assets/img/logo.png?v=' | append: site.github.build_revision | relative_url }}" alt="Roastd"/>
        <p>Share, rate, and discover coffee from around the world.</p>
        <ul>
          <li><a href="#goals">Goals</a></li>
          <li><a href="#deliverables">Deliverables</a></li>
          <li><a href="#team">Team</a></li>
        </ul>
      </div>
    </header>

    <div id="goals" class="content-wrapper">
      <div class="intro">
        <h2>Project Goals.</h2>
        <p>Roastd is an app where coffee lovers can share, discover, and
          rate drinks from local coffee shops and coffee roasters. Users
          are able to check in and rate different drinks and review beans
          they purchased from coffee roasters across the nation.</p>
        <p class="margin-15">Roastd gains
          insight from coffee drinkers with similar palettes and uses
          collaborative filtering to recommend certain drinks or beans
          to users based on their ratings or review history. The app
          also allows coffee shop owners and coffee roasters to directly
          engage with their customers and the local community.
        </p>
        <div class="divider"></div>
        <div class="goal-block">
          <p class="circled-number">1</p>
          <p class="margin-15">
            Provide a platform where users can rate and keep track of drinks they have tried.
          </p>
        </div>
        <div class="goal-block">
          <p class="circled-number">2</p>
          <p class="margin-15">
            Introduce a unique recommendation system that creates a user-tailored "playlist" of drinks to try.
          </p>
        </div>
        <div class="goal-block">
          <p class="circled-number">3</p>
          <p class="margin-15">
            Build a community where coffee shop owners and coffee lovers can connect and share.
          </p>
        </div>
        <div class="divider"></div>

        <div class="video-wrapper">
          <div class="video">
            <iframe width="800" height="450" src="https://www.youtube.com/embed/krSJBmAYFMY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="quote">
      <h2>Project Features</h2>
      <div class="list-box">
        <ul>
          <li>Favorite beans, shops, and drinks.</li>
          <li>View favorited items.</li>
          <li>Search for beans, shops, and drinks.</li>
          <li>Generates recommendations based on user's coffee "palette".</li>
          <li>View drink recommendations.</li>
          <li>Discover new drinks associated with shops.</li>
          <li>Discover the shops behind your favorite drinks and beans.</li>
          <li>Get directions to local coffee shops via Google Maps.</li>
          <li>Become shop "managers" for shops you own.</li>
        </ul>
      </div>
    </div>

    <div id="deliverables" class="content-wrapper">
      <div class="intro deliverables">
        <h2>Project Deliverables</h2>
        <div class="divider"></div>
        <div class="goal-block">
          <p class="circled-number extra"><i class="fas fa-file-alt"></i></p>
          <p class="margin-15">
            Requirements and Design
          </p>
          <a target="_blank" href="https://docs.google.com/document/d/1uq2R2MGFF8KEl3AC2rP9EC8SBN5U6G9UgofpiFfpRbo/edit?usp=sharing">View The Document</a>
        </div>
        <div class="goal-block">
          <p class="circled-number"><i class="fab fa-google-drive"></i></p>
          <p class="margin-15">
            Class Presentations
          </p>
          <a target="_blank" href="https://drive.google.com/drive/folders/179i1n2uE0XUUaVl5ySr22OjViMNj1eCA?usp=sharing">View The Slides</a>
        </div>
        <div class="goal-block">
          <p class="circled-number"><i class="fab fa-github"></i></p>
          <p class="margin-15">
            Source Code
          </p>
          <a href="https://github.com/Roastd/roastd" target="_blank">Roastd On Github</a>
        </div>
        <div class="goal-block">
            <p class="circled-number"><i class="fab fa-android"></i></p>
            <p class="margin-15">
              Final App
            </p>
            <a href="https://play.google.com/store/apps/details?id=net.jmhossler.roastd" target="_blank">Download Roastd</a>
        </div>
        <div class="divider"></div>
      </div>
    </div>

    <div id="team" class="team">
      <div class="content-wrapper">
        <h2>Meet The Team</h2>
        <div class="team-row">
          <div class="team-card">
            <div class="img-wrapper">
              <img src="{{ '/assets/img/delenn.png?v=' | append: site.github.build_revision | relative_url }}" alt="Delenn"/>
            </div>
            <h3>Delenn Sapp</h3>
            <p>Delenn is a senior computer science major at the University of Alabama. She will begin a full-time position in
              Development Operations at Adtran after graduating in May.
            </p>
            <a href="https://github.com/delennsapp"><i class="fab fa-github"></i></a>
          </div>
          <div class="team-card">
            <div class="img-wrapper">
                <img src="{{ '/assets/img/john.png?v=' | append: site.github.build_revision | relative_url }}" alt="Delenn"/>
            </div>
            <h3>John Hossler</h3>
            <p>John is a senior computer science major at the University of Alabama. He will be starting a full-time position
            at Adtran this summer after graduation. John's favorite programming language is Python, but he has experience
            working in many different languages. His primary focus for his career is providing tools to enable
            developers to practice Continuous Deployment and Continuous Integration, and heavily advocates for more
            tests with code. He prefers Agile development work-cycles.
            </p>
            <a href="https://github.com/jmhossler"><i class="fab fa-github"></i></a>
          </div>
        </div>
        <div class="team-row">
            <div class="team-card">
              <div class="img-wrapper">
                  <img src="{{ '/assets/img/josh.png?v=' | append: site.github.build_revision | relative_url }}" alt="Delenn"/>
              </div>
              <h3>Josh Burgin</h3>
              <p>Josh is a senior computer science major at the University of Alabama. He has previous experience working
                as a student engineer for the Center For Advanced Public Safety and as a front-end engineering intern at ESPN.
              </p>
              <a href="https://github.com/jsburgin"><i class="fab fa-github"></i></a>
            </div>
            <div class="team-card">
              <div class="img-wrapper">
                  <img src="{{ '/assets/img/pete.png?v=' | append: site.github.build_revision | relative_url }}" alt="Delenn"/>
              </div>
              <h3>Pete Dietl</h3>
              <p>Pete is a senior computer science major at the University of Alabama. The rest of the bio will need to go here. This
                  is just a paragraph of filler text to use until the real bio is ready to go here. Another sentence can go here.
              </p>
              <a href="https://github.com/padietl"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="team-row">
            <div class="team-card">
              <div class="img-wrapper">
                  <img src="{{ '/assets/img/trevor.png?v=' | append: site.github.build_revision | relative_url }}" alt="Delenn"/>
              </div>
              <h3>Trevor Murphy</h3>
              <p>Trevor is a senior computer science major at the University of Alabama. The rest of the bio will need to go here. This
                  is just a paragraph of filler text to use until the real bio is ready to go here. Another sentence can go here.
              </p>
              <a href="https://github.com/tlmurphy"><i class="fab fa-github"></i></a>
            </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="content-wrapper">
        <p>Roastd. Designed and developed for CS 495 - Capstone Computing at The University of Alabama.</p>
        <a href="#top">Return To Top</a>
      </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      $('a[href*="#"]')
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function(event) {
          if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
            &&
            location.hostname == this.hostname
          ) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
              event.preventDefault();
              $('html, body').animate({
                scrollTop: target.offset().top
              }, 1000, function() {
                var $target = $(target);
                if ($target.is(":focus")) {
                  return false;
                } else {
                  $target.attr('tabindex','-1');
                };
              });
            }
          }
        });
    </script>
  </body>
</html>

